# application-secret.yml 로 복사한 뒤 실제 값을 채워 넣으세요. (git에 커밋 금지)
spring:
  datasource:
    password: <POSTGRES_PASSWORD>
firebase:
  credentials: '<FIREBASE_SERVICE_ACCOUNT_JSON>'
jwt:
  access-secret-key: <JWT_ACCESS_SECRET_KEY>
